.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero-image {
  width: 200px; /* Adjust for desired sphere size */
  height: 200px; /* Same as width to make it circular */
  border-radius: 50%; /* Makes it circular */
  overflow: hidden; /* Ensures the image is cropped to the circle */
  border: 5px solid white; /* Optional border */
  margin-top: 100px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the face is focused within the sphere */
  object-position: center; /* Adjusts the positioning of the image within the circle */
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(267deg, #DA7C25 0.36%, #8923E1 102.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #8923E1 102.6%);
  cursor: pointer;
  transition: 0.5s;
}

.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: 0.5s;
}

.hero-connect:hover {
  border: 2px solid white;
  transform: scale(1.05);
}

.hero-resume:hover {
  border-color: #B415FF;
  transform: scale(1.05);
}
/* Define keyframes for the animation */
@keyframes borderAnimation {
  0% {
    border-color: white;
  }
  50% {
    border-color: #DA7C25; /* Gradient color start */
  }
  100% {
    border-color: #8923E1; /* Gradient color end */
  }
}

.hero-image {
  width: 200px; /* Adjust for desired sphere size */
  height: 200px; /* Same as width to make it circular */
  border-radius: 50%; /* Makes it circular */
  overflow: hidden; /* Ensures the image is cropped to the circle */
  border: 5px solid white; /* Initial white border */
  margin-top: 100px;
  animation: borderAnimation 3s infinite alternate; /* Apply the animation */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the face is focused within the sphere */
  object-position: center; /* Adjusts the positioning of the image within the circle */
}
